html,body{
     padding: 0;
     margin: 0;
     background-color: #EFEFEF;
     overflow: hidden;
}
* {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
.istock .header{
     height: 60px;
     background-color: #fff;
     border-bottom: 0px solid;
     border-color: #e5e5e5;
}
.istock .header .logo{
     float: left;
     width: 200px;
     height: 60px;
     background-color: pink;
     margin-right: 18px;
}
.istock .header .icon{
     float: left;
     width: 32px;
     height: 32px;
     background-color: orange;
}
.istock .content{
     position: relative;
}
.istock .content .left{
     width: 250px;
     height: 700px;
     float: left;
     display: block;
     position: relative;
     left: 0;
     background-color: #fff;
}
.istock .content .left .left-in{
    position: absolute;
    height: 100%;
    width: 100%;
    border-right: 0px solid;
    border-color: #e5e5e5;
}
.istock .content .right{
     float: left;
     position: relative;
     background-color: #ECECEC;
}
.icon.left-hide{
     display: none;
}